meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"
meta name="google" content="notranslate"
meta name="turbolinks-cache-control" content="no-cache"
= csrf_meta_tags

title = render_cleancms_page_title

= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.css'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic'
= stylesheet_link_tag 'mini_rocket/application', media: 'all'

= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.7.0/bootstrap-maxlength.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js'

= javascript_include_tag 'mini_rocket/application'
